body{
	background-color:#f4f4f4;
	color:#555;
	font-family: Arial, Helvetica;
	font-size: 16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow: hidden;
	text-align: center;

}

#navbar{
	background-color: black;
	color:white;
		text-align: left;


}
#navbar ul{
	padding:0;
	list-style: none;
	text-align: left;

}

#navbar li{
	display:inline;
}
#navbar a{
	color:white;
	text-decoration: none
	font-size:18px;
	padding-right:15px;


}

#navbar a:hover{
color:#BF9F00;
}


a:hover{
color:#BF9F00;
}

.linkstyle{
	color:white;
	text-decoration: none
	font-size:18px;
	padding-right:15px;

}


}
#showcase{
	background-image: url('../images/showcase.jpg');
	background-position:center right;
	min-height:200px;
	margin-bottom:30px;
	text-align: center;
}

#showcase h1{
	color:black;
	font-size:50;
	line-height: 1.6em;
	padding-top: 30px;

}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background: black;
	color:white;
	padding:10px;
	box-sizing: border-box;


}

#main-footer{
	background:#333;
	color:white;
	text-align: center;
	padding:20px;
	margin-top:40px;
}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}
	#sidebar{
		width:100%;
		float:none;
	}
}

img{
	align-content: : center center;
	content-size:100px;
}

.heading{
	border:solid black 2px; 
	padding:2%;
	text-align: center;
	font-family: ariel, helvetica;
	background-color: #BF9F00;
	color:white;
	margin-top:50px;

}

.types{
		border:solid black 2px; 
	padding:2%;
	text-align: center;
	font-family: ariel, helvetica;
	background-color: black;
	color:white;
	margin-top:50px;
}

.typestop{
		border:solid black 2px; 
	padding:2%;
	text-align: center;
	font-family: ariel, helvetica;
	background-color: black;
	color:white;
	margin-top:10px;
}


.messages {
	border:dotted 1px  #BF9F00;
	padding:5px;
	font-family: ariel, helvetica;
	color:black;
	background-color: white;
	margin-top: 60px;

}

.messagestop {
	border:dotted 1px  #BF9F00;
	padding:5px;
	font-family: ariel, helvetica;
	color:black;
	background-color: white;
	margin-top: 10px;

}

.head{
	color:black;
	text-align: center;
	border:double 5px black;
	padding:2px;

}


.imgdisplay{
	float:left;
	padding-left:75px;
	padding-top:20px;
	background: black;
	color:white;
	box-sizing: border-box;
}



img.center {
display: block;
margin-left: auto;
margin-right: auto;
margin-top:10px;
border:solid black 2px;
max-width: 95%;
}

.errorlist {
font-weight: bold;
}

img.arrows {
max-width: 95%;
margin-left: auto;
margin-right: 30%;
margin-top:2px;

}

.invisible-border{
	border:hidden black 2px;
	background-color: white;
	padding:1px 10px;
	margin:5px;
	text-align: center;
}

.sidebar-img{
max-width: 95%;
margin-left: auto;
margin-right: 30%;
margin-top:2px;
}






body{
background-color: #f4f4f4;
text-align: center;
}

.hborder{
	border: hidden black 2px;
	font-weight: bold;
	background-color: white;
	margin-top:35px;
	padding:.5%;
	width: auto;
	box-sizing: border-box;
	text-align: center;

}


p{
margin:10px;
}

.rundown{
	font-style:italic;
}




*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  border: 1px solid black;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #d4AF37;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid black;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #d4AF37;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

/*added from here for contact*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

table {
  max-width: 960px;
  margin: 10px auto;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}
